// 検証方法は、htmlのclassが「up」のところを変更していく。
$pattern: (
  "up": translateY(6px),      // 下から上に行ってるように見さしたいので
  "down": translateY(-6px),   // 上から下に行ってるように見さしたいので
  "left": translateX(40px),   // 右から左に行ってるように見さしたいので
  "right": translateX(-40px), // 左から右に行ってるように見さしたいので
);

// @eachを使ってリファクタリング
@each $key, $value in $pattern {
  .appear.#{$key} {
    & .item {
      transform: $value;
    }
  }
}

.appear {
  & .item {
    transition: all 0.8s;
    opacity: 0;
  }

  &.inview {
    & .item {
      opacity: 1;
      transform: none;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }
  }
}

// 以下は、リファクタリング前。ここから、down, left, right共通部分を抽出した書き方をしている。
// .appear.up {
//   & .item {
//     transition: all 0.8s;
//     opacity: 0;
//     transform: translateY(6px);
//   }

//   &.inview {
//     & .item {
//       opacity: 1;
//       transform: none;

//       @for $i from 1 through 10 {
//         &:nth-child(#{$i}) {
//           transition-delay: $i * 0.1s;
//         }
//       }
//     }
//   }
// }
