@use "mq" as *;

// モバイル用のスタイル
h1 {
  color: red;
  background: yellow;

  // smは、シングルクォーテーションで囲んでも囲まなくても、どちらでも動く
  @include mq(sm) {
    color: blue;
  }
  // @media (min-width: 480px) {
  //   color: blue;
  // }

  @include mq(md) {
    color: purple;
  }
  // @media (min-width: 600px) {
  //   color: purple;
  // }

  @include mq(lg) {
    color: green;
  }
  // @media (min-width: 960px) {
  //   color: green;
  // }

  @include mq(xl) {
    color: orange;
  }
  // @media (min-width: 1280px) {
  //   color: orange;
  // }
}
