$cBlack: black;

.three-dot-spinner {
  text-align: center;

  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: $cBlack;
    border-radius: 50%;
    animation: sk-bouncedelay 1.4s infinite;

    // 変数iに、1から2までを代入し、ループされる。
    // 「through」の代わりに、「to」もあるが、「to」後の値は含まれない。
    // セレクタで「$i」を使いたい時、文字列に入れたい時は、「#{$i}」とする。「-0.32s」のところは、「$i」のままで良い。
    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        animation-delay: calc(-0.32s / $i);
      }
    }

    // 上記でfor文でリファクタリングされている。
    // &:nth-child(1) {
    //   animation-delay: -0.32s;
    // }
    // &:nth-child(2) {
    //   animation-delay: -0.16s;
    // }
  }

  // & .bounce1 {
  //   animation-delay: -0.32s;
  // }
  // & .bounce2 {
  //   animation-delay: -0.16s;
  // }
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
